{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Login</h1>
        <p>Input your username and password</p>
        {% if next %}
        <form class="form-horizontal" action="{% url 'account:login' %}?next={{ next }}" method="post">
        {% else %}
        <form class="form-horizontal" action="{% url 'account:login' %}" method="post">
        {% endif %}
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ login_form.username.id_for_label }}" class="col-md-5 control-label" style="color: red">
                    <span class="glyphicon glyphicon-user"></span>Username</label>
                <div class="col-md-6 text-left">{{ form.username }}</div>
            </div>
            <div class="form-group">
                <label for="{{ login_form.password.id_for_label }}" class="col-md-5 control-label" style="color: blue">
                    <span class="glyphicon glyphicon-floppy-open"></span>Password</label>
                <div class="col-md-6 text-left">{{ form.password }}</div>
            </div>
            <input type="submit" class="btn btn-primary btn-group-lg" value="Login">
            <a href="{% url 'account:password_reset' %}">忘记密码？</a> 
        </form>
    </div>
{% endblock %}
