{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Login--Built in Method of Django</h1>
        {% if log %}
        <p>Input your username and password</p>
        <form class="form-horizontal" action="." method="post">
            {% csrf_token %}
{#            {{ login_form.as_p }}#}
            <div class="form-group">
                <label for="{{ login_form.username.id_for_label }}" class="col-md-5 control-label" style="color: red">
                    <span class="glyphicon glyphicon-user"></span>Username</label>
                <div class="col-md-6 text-left">{{ login_form.username }}</div>
            </div>
            <div class="form-group">
                <label for="{{ login_form.password.id_for_label }}" class="col-md-5 control-label" style="color: blue">
                    <span class="glyphicon glyphicon-floppy-open"></span>Password</label>
                <div class="col-md-6 text-left">{{ login_form.password }}</div>
            </div>
            <input type="submit" class="btn btn-primary btn-group-lg" value="Login">
        </form>
    </div>
{% endblock %}